@reference "tailwindcss";

@layer components {
  .poll-table-cell {
    @apply px-4 py-2 m-0.75 rounded-lg min-w-20!;
  }
  .poll-view-container {
    @apply max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-5xl mx-auto;
  }
  .vote-table-container {
    @apply mt-8 overflow-scroll sm:overflow-auto;
  }
  .poll-description {
    @apply mt-5! font-normal! text-lg!;
  }
  .participant-name {
    line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    letter-spacing: unset !important;
  }
}
