@reference "tailwindcss";

@layer components {
  .navbar {
    @apply border-b border-gray-300 py-3 px-4 sm:py-3 sm:px-6 max-w-6xl mx-auto flex justify-between sticky top-0 bg-white z-10 items-center;
  }
  .mobile-nav-menu-wrapper {
    height: calc(100vh - 57px);
    @apply w-full sticky z-20 top-14 bg-white pt-16 flex flex-col items-center;
  }
  .logo-container {
    @apply flex items-center hover:opacity-75 transition-opacity
  }
  .logo {
    @apply h-9.5 mr-4;
  }
}
