@reference "tailwindcss";
@config "../../../../tailwind.config.ts";

@layer components {
  .poll-item-container {
    @apply border transition p-4 mt-3 rounded-lg cursor-pointer hover:shadow-md border-border-default;
  }
}

@layer components {
  .poll-item-head {
    @apply flex justify-between items-center flex-wrap gap-1;
  }
}
