@reference "tailwindcss";

@layer utilities {
  .poll-link-container {
    @apply max-w-md md:max-w-lg mx-auto py-6 px-4 md:p-8 border rounded-lg shadow-sm;
    border-color: var(--color-border-default);
  }
  .copy-icon {
    @apply flex justify-center items-center absolute top-3.5 w-10 right-2 bg-white z-10;
  }
  .link-field-wrapper {
    @apply mt-4 lg:mt-6 flex items-center justify-between w-full relative;
  }
}
