@import 'tailwindcss';

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@theme {
  --color-border-default: #d1d5db;
}

:root {
  font-family: roboto, system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
}

button {
  cursor: pointer;
}
/* Check if is this location or these styles correct or not!? */
@layer utilities {
  .form-container {
    @apply max-w-90 sm:max-w-104 mx-auto md:mt-4 px-1 sm:px-8 py-6 sm:py-8 sm:border rounded-lg sm:shadow-sm;
    border-color: var(--color-border-default);
  }
}
